{% extends basetemplate %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ headline }}{% endblock %}
{% block content %}

    <h2>{{ headline }}</h2>
    <form action="" method="post" class="form-horizontal blank-after">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                {% if form_above_msg %}
                    <p>{{ form_above_msg }}</p>
                {% endif %}
                {% bootstrap_field form.name layout="checkout" %}
                {% bootstrap_field form.email layout="checkout" %}
                {% bootstrap_field form.order_code layout="checkout" %}
                {% bootstrap_field form.message layout="checkout" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-8 col-xs-12">
                <button class="btn btn-block btn-primary btn-lg" type="submit">
                    {{ submit_label }}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
    <p>&nbsp;</p>
{% endblock %}
